body {
    background:url(Background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center center;
    background-position: relative;
    }
.Personaje img{
    position: relative;
    left: 600px;
    top: 507px;
}

.Objeto img{
    position: absolute;
    top: 0;
}